@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-form{
    border: 1px solid aquamarine;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#task-form{
    margin: 20px;

}

button{
    border: 1px solid rgb(105, 197, 255);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    padding: 5px;
    cursor: pointer;
}
input[type="text"]{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
:checked + label {
    text-decoration: line-through;
    color: grey;
    
  }